.social{
  font-size:30px;
}

.social-link{
  margin-left:30px;
}

.contact-sec{
  background:#226ada;
  color:white;
  font-family:cursive;
}

.contact-custom{
  padding-top:30px;
  padding-left:100px;
  padding-right:100px;
  padding-bottom:50px;
}

@media (max-width:767px) {
  .contact-custom{
    padding:50px 50px;
  }
}

.social-row{
  margin-top:30px;
}

.social-icon{
  color:white;
}

