.main-div{
  background-color:#00d0b0;
  padding:50px;
}

.profile{
  margin:0 auto 50px;
}

.profile-img{
  margin-top:100px;
  margin:0 auto 10px;
}

.profile-name{
  color:white;
  font-size:65px;
}

@media (max-width:767px) {
  .profile-name{
    color:white;
    font-size:40px;
  }
}

.profile-p{
  font-size:35px;
  margin-bottom:75px;
  color:white;
}

@media (max-width:767px) {
  .profile-p{
    font-size:20px;
    margin-bottom:75px;
    color:white;
  }
}

.portfolio-col{
  margin-top:20px;
}

.about-para{
  font-size:23px;
  color:white;
}

.about{
  background-color:#00d0b0;
  margin-top:100px;
  padding:150px;
}

.contact{
  margin-top:100px;
  margin:0 auto 10px;
  padding:100px;
}

.contact-input{
  margin:auto;
  max-width:600px;
  margin-top:10px;
  border:none;
  box-shadow:none;
  border-radius:0px;
  background-color:transparent;
}

